server:
  port: 19870
spring:
  application:
    name: ms-auth
  session:
    store-type: redis
    redis:
      host: localhost
      port: 6379
  jpa:
    show-sql: true
    hibernate:
      dialect: org.hibernate.dialect.PostgreSQL95Dialect
      show_sql: true
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/user_db?currentSchema=user_sh
    username: postgres
    password: 1qaz@WSX
  flyway:
    enabled: true
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
    fetch-registry: true
    register-with-eureka: true